absl-py==0.9.0
alabaster==0.7.7
appdirs==1.4.3
asn1crypto==1.3.0
astor==0.8.1
astroid==1.6.6
attrs==19.3.0
awscli==1.18.81
Babel==1.3
backcall==0.2.0
bleach==3.1.5
blinker==1.3
bokeh==1.0.4
boto==2.49.0
boto3==1.14.4
botocore==1.17.4
certifi==2020.4.5.2
cffi==1.14.0
chardet==3.0.4
click==7.1.2
cloud-init==19.4
cloudpickle==1.4.1
cmake==3.13.3
colorama==0.4.3
command-not-found==0.3
configobj==5.0.6
coremltools==2.0
cpplint==1.3.0
cryptography==2.7
cycler==0.10.0
dask==2.6.0
decorator==4.4.2
defusedxml==0.6.0
docutils==0.12
entrypoints==0.3
environment-kernels==1.1.1
future==0.17.1
gast==0.3.3
gensim==3.8.3
graphviz==0.10.1
grpcio==1.30.0
h5py==2.6.0
hibagent==1.0.1
idna==2.7
imageio==2.8.0
importlib-metadata==1.6.1
ipykernel==5.3.0
ipython==7.4.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==4.3.21
jedi==0.17.0
Jinja2==2.8
jmespath==0.10.0
joblib==0.14.1
jsonpatch==1.10
jsonpointer==1.9
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.3
jupyter-console==6.1.0
jupyter-core==4.6.3
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.1.0
language-selector==0.1
lazy-object-proxy==1.5.0
Markdown==3.2.2
MarkupSafe==0.23
matplotlib==3.0.3
mccabe==0.6.1
mistune==0.8.4
mock==3.0.5
nbconvert==5.6.1
nbformat==5.0.7
networkx==2.4
nltk==3.5
nose==1.3.7
notebook==6.0.3
numpy==1.15.4
nvidia-ml-py==10.418.84
oauthlib==1.0.3
packaging==20.4
pandas==0.24.2
pandocfilters==1.4.2
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.1.2
prettytable==0.7.2
prometheus-client==0.8.0
prompt-toolkit==2.0.10
protobuf==3.12.2
ptyprocess==0.6.0
pyasn1==0.1.9
pycparser==2.20
pycurl==7.43.0
pydot==1.4.1
pygal==2.4.0
Pygments==2.1
pygobject==3.20.0
PyJWT==1.3.0
pylint==1.9.4
pyparsing==2.4.7
pyrsistent==0.16.0
pyserial==3.0.1
python-apt==1.1.0b1+ubuntu0.16.4.9
python-dateutil==2.8.1
python-debian==0.1.27
python-systemd==231
pytz==2014.10
PyWavelets==1.1.1
PyYAML==3.11
pyzmq==19.0.1
qtconsole==4.7.4
QtPy==1.9.0
regex==2020.6.8
requests==2.20.0
roman==2.0.0
rouge==1.0.0
rsa==3.4.2
s3transfer==0.3.3
scikit-image==0.15.0
scikit-learn==0.20.2
scipy==1.4.1
seaborn==0.9.0
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.10.0
smart-open==2.1.0
Sphinx==1.3.6
sphinx-rtd-theme==0.1.9
ssh-import-id==5.5
tensorboard==1.13.1
tensorboardX==2.1
tensorflow-estimator==1.13.0
tensorflow-gpu==1.13.1
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
toolz==0.10.0
tornado==6.0.4
tqdm==4.47.0
traitlets==4.3.3
ufw==0.35
unattended-upgrades==0.1
urllib3==1.24.3
wcwidth==0.2.4
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.4.2
wrapt==1.12.1
zipp==1.2.0
